body {
    background: linear-gradient(yellow, orange, red);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}
.card {
    background: transparent;
    border: none;
    margin-top: 15%;
    margin-right: 5%;
    margin-left: 15%;
}
.card-title {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    font-family: georgia;
}
.card-body {
    text-align: center;
    font-size: 18px;
    font-family: cambria;
}
#fighters{
    margin-right: 20px;
    margin-top: 2%;
}
.container {
   margin-left: 2%; 
}
#goku {
    width: 100px;
}
#vegeta {
    width: 100px;
}
#piccolo {
    width: 100px;
}
#frieza {
    width: 100px;
}